# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
aws_ann_venv/

# Data
data/raw/
data/processed/

# Git
.git/
.gitignore

# DVC
.dvc/cache/
.dvc/config.local

# MLflow
mlflow.db

# Environment
.env

# IDE
.idea/
.vscode/

# Jupyter
notebooks/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db